<h1>Hi Tolibjon</h1>
<h2>A user brought somesings from your site.</h2>

<p>
  Here is the user info: [{{name}}]
</p>

<p>
  Here is the products: [{{things}}]
</p>

<p>If you did not request this email, you can ignore it.</p>